* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid black;
    display: flex;
}
main {
    width: 100%;
    height: 78vh;
    background-color: rgb(13, 60, 216);
    display: flex;
    flex-direction: row-reverse;
}
.logo_class {
    width: 50%;
    height: 10vh;
    /* background-color: antiquewhite; */
}
.imfor_class {
    width: 50%;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.logo {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    border-radius: 100%;
    margin-left: 50px;
}
.write {
    width: 100px;
    height: 50px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat {
    width: 100%;
    height: 120px;
    /* background-color: antiquewhite; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.propill {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}
.imformaition {
    width: 80%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
footer {
    width: 100%;
    height: 11.9vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.message {
    width: 70%;
    height: 110px;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(13, 60, 216);;
}
.send {
    width: 200px;
    height: 110px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
    
}
.LINK {
    text-decoration : none;
}
.a {
    margin: 20px;
    font-size: 30px;
}